<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Reminder </title>
</head>

<body>
    <h1 style="color: blue;"> Do your task </h1>
    <h3>Title : {{ title }}</h3>
</body>

</html>